body {
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 12vw);
}

.square {
    position: relative;
    width: 12vw;
    height: 12vw;
    max-height: 75px;
    max-width: 75px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    cursor: pointer;
}

.even {
    background-color: #bebebe;
}

.odd {
    background-color: #000000;
}

#game-info {
    margin-top: 3vh;
    font-size: 18px;
    margin-bottom: 5px;
}

#target-square {
    margin-top: 1vh;
    font-size: 18px;
}

#start-button {
    padding: 2vh 5vw;
    border-radius: 2.5vw;
    background-color: var(--color-hover);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    color: var(--color-text);
    font-size: 20px;
    transition: all 0.50s ease;
    box-shadow: 3px 3px var(--color-box-text-shadow);
    margin-top: 1vh;
    margin-bottom: 10px;
    border: none;
}

#start-button:hover {
    background-color: var(--color-button-hover);
}

#notification {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-hover);
    font-size: 45px;
    display: none;
    text-shadow: 2px 2px var(--color-box-text-shadow);
}

@media (min-width: 600px) {
    .chessboard {
        display: grid;
        grid-template-columns: repeat(8, 70px);
    }
    
    .square {
        position: relative;
        width: 12vw;
        height: 12vw;
        max-height: 70px;
        max-width: 70px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
        cursor: pointer;
    }
}