input,
.login__button {
    border: none;
    outline: none;
}

.login {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}

.login__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(0, 0%, 10%, 0.1);
    border: 3px solid var(--color-hover);
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(8px);
}

.login__title {
    text-align: center;
    font-size: 30px;
    font-weight: var(--font-weight-medium);
    margin-bottom: 2rem;
    color: var(--color-text);
}

.login__content,
.login__box {
    display: grid;
}

.login__content {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.login__box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    border-bottom: 2px solid var(--color-hover);
}

.login__icon,
.login__eye {
    font-size: 1.25rem;
    color: var(--color-text);
}

.login__input {
    width: 100%;
    padding-block: 0.8rem;
    background: none;
    color: var(--color-text);
    position: relative;
    z-index: 1;
}

.login__box-input {
    position: relative;
}

.login__label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: var(--font-weight-medium);
    transition: top 0.3s, font-size 0.3s;
    color: var(--color-text);
}

.login__eye {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 10;
    cursor: pointer;
}

.login__box:nth-child(2) input {
    padding-right: 1.8rem;
}

.login__check,
.login__check-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__check {
    margin-bottom: 1.5rem;
}

.login__check-label,
.login__forgot,
.login__register {
    font-size: 16px;
    color: var(--color-text);
}

.login__check-group {
    column-gap: 0.5rem;
}

.login__check-input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.login__forgot {
    color: var(--color-hover);
    text-decoration: none;
}

.login__forgot:hover {
    text-decoration: underline;
}

.login__button {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-hover);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    margin-bottom: 2rem;
    color: var(--color-text);
    font-size: 16px;
    transition: all 0.50s ease;
    box-shadow: 2px 2px var(--color-box-text-shadow);
}

.login__button:hover {
    background-color: var(--color-button-hover);
}

.login__register {
    text-align: center;
}

.login__register a {
    color: var(--color-hover);
    text-decoration: none;
}

.login__register a:hover {
    text-decoration: underline;
}

.login__input:focus + .login__label,
.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label {
    top: -12px;
    font-size: 16px;
}

@media (max-width: 1090px) {
    .login__form {
        width: 80%;
        max-width: 400px;
        margin: 0 auto;
        padding: 2rem;
    }

}