/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

/* CSS Variables */
:root {
    --color-text: rgb(255, 255, 255);
    --color-hover: rgb(80, 80, 240);
    --color-button-hover: rgba(80, 80, 240, 0.5);
    --color-header: rgba(32, 32, 32, 0.9);
    --color-box-text-shadow: rgba(80, 80, 240, 0.4);
    --font-weight-medium: 500;
}

/* Body Styling */
body {
    min-height: 120vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
}

/* Header Styling */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-header);
    padding: 0 2%;
    text-shadow: 2px 2px var(--color-box-text-shadow);
    border-bottom: 3px solid var(--color-hover);
}

/* Logo Styling */
.logo img {
    display: flex;
    align-items: center;
    width: 70px;
    height: auto;
}

/* Navigation Styling */
.navbar a.active {
    color: var(--color-hover);
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navbar a {
    color: var(--color-text);
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    padding: 15px;
    margin: 0px 30px;
    transition: all 0.50s ease;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--color-hover);
}

/* Navigation Login Button Styling */
.nav-login {
    padding: 10px 15px;
    background-color: var(--color-hover);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease;
    box-shadow: 2px 2px var(--color-box-text-shadow);
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
    cursor: pointer;
    font-weight: var(--font-weight-medium);
}

.nav-login:hover {
    background-color: var(--color-button-hover);
}

/* Mobile Menu Icon Styling */
#menu {
    color: var(--color-text);
    font-size: 20px;
    transition: all 0.50s ease;
    z-index: 10001;
    right: 2%;
    position: absolute;
    display: none;
    cursor: pointer;
}

#menu:hover {
    color: var(--color-hover);
}

#menu.hover-effect,
#menu.hover-effect:hover {
    color: var(--color-hover);
}

/* Section Styling */
section {
    position: relative;
    color: var(--color-text);
    top: 100px;
}

h1{
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 40px;
  text-shadow: 4px 4px var(--color-box-text-shadow);
}

/* Container Styling */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Footer Styling */
footer {
    color: var(--color-text);
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    position: relative;
    background-color: rgb(120, 120, 120);
    padding: 20px;
    text-align: center;
}

.waves-container {
    position: absolute;
    bottom: 78px; 
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.waves {
    width: 100%;
    height: 100%;
}

/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
}

/* Media Queries */
@media (max-width: 1280px) {
    header {
        transition: 0.2s;
    }

    .navbar a {
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 104%;
        right: -100%;
        width: 250px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all 0.50s ease;
        background-color: var(--color-header);
        border-bottom: 3px solid var(--color-hover);
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
    }

    .navbar a:hover {
        transform: translateY(-3px);
    }

    .navbar.open {
        right: 2%;
    }

    header {
        padding: 0px 12%;
    }
}